<div id="center-div">
  <div class="header">
    <div class="double-grid center">
      <h1>{{name}}</h1>
      <button mat-flat-button color="primary"
              [disabled]="addTask.viewState !== addTask.viewStates.ALTERNATE"
              (click)="addTask.setCreateView()">Create a new Task
      </button>
    </div>
    <app-add-task #addTask (newItemEvent)="loadValues()" class="full-grid"></app-add-task>
  </div>
  <div id="board-wrapper">
    <div class="board-column" *ngFor="let column of board.columns">
      <mat-card-title class="column-title">
        {{ column.name }}
      </mat-card-title>
      <div class="tasks-container" id="{{column.id}}"
           [cdkDropListConnectedTo]="['0', '1', '2']"
           cdkDropList
           [cdkDropListData]="column.tasks"
           (cdkDropListDropped)="drop($event)">
        <mat-card class="task" *ngFor="let task of column.tasks"
                  cdkDrag
                  [cdkDragData]="task"
                  (click)="addTask.setTaskOperation(task)">
          <p>{{task.value}}</p>
        </mat-card>
      </div>
    </div>
  </div>
</div>
